<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="/style.css" rel="stylesheet">
  <title>RICK</title>
</head>
<body>
  <div class="container, center">
	  <h4> You tweeted about </h4>
	  <ul>
	    <%= concepts %>
    </ul>
    <h4> Our complex learning algorithim reccomends you listen to... <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">this</a></h4>
  </div>
</body>
</html>
